@charset "UTF-8";
/* CSS Document */
	body{
	font-family:'Roboto', sans-serif;
	font-weight: 100
}
*{
	margin: 0;
	padding: 0;
	border: 0;
		}
div#wrapper{
	width: 1024px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
nav{
	width: 1024px;
	height: 70px;
	background-color:#000000;
	
}
header{
	width: 1024px;
	height: 600px;
	background-image: url(img/encabezado.jpg);
}
section#relojes{
	width: 1024px;
	height: 457px;
	background-color:#FFFFFF;
}
section#nosotros{
	width: 1024px;
	height: 748px;
	background-color: #ffffff;
}
section#catalogo{
	width: 1024px;
	height: 788px;
	background-color:#FFFFFF;
}
section#contacto{
	width: 1024px;
	height: 615px;
	background-color:#FFFFFF;
}
footer{
	width: 1024px;
	height: 50px;
	background-color:#461C31;
}
nav h1{
	font-size: 28px;
	color: #A5B025;
	font-weight: 300;
	padding-top: 15px;
	padding-left: 35px;
	float: left;
}
ul#menu{
	float: right;
	margin-top: 25px;
	margin-right: 35px;
}
ul#menu li{
	float: left;
	margin-left: 20px;
}
ul#menu a{
	font-size: 18px;
	color: white;
	text-decoration: none
}
ul#menu a:hover{
	color:#A5B025;
}
div.boxRelojes{
	width: 237px;
	height: 265px;
	background-color: white;
	float: left;
	margin-left: 15px;
	margin-top: 37px;
}
section#relojes h2{
	font-size: 34px;
	font-weight: 100;
	color: white;
	background-color: #30A2A6;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	margin-top: 25px;
	width: 324px;
	height: 105px;
	text-align: right;
}
div.boxRelojes img{
	width: 90px;
	height: 90px;
	margin-left: 80px;
	margin-bottom: 36px;
}
div.boxRelojes h3{
	font-size: 20px;
	font-weight: 100;
	text-align: center;
	color: black;
}
 h2.titulo{
	font-size: 34px;
	font-weight: 100;
	color: white;
	background-color: #30A2A6;
	width: 324px;
	height: 61px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	text-align: right;
}


div#centrarNosotros{
	width: 846px;
	height: 550px;
	background-color: #47DCFF;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
div.boxNosotros{
	width: 423px;
	height: 275px;
	background-color: #B14E80;
	float: left;
}
div#txtdiseno{
	background-color: #30A2A6;
}
div.boxNosotros h4{
	font-size: 20px;
	font-weight: 300;
	color: white;
	margin-left: 32px;
	margin-right: 39px;
	margin-top: 58px;
}
div.boxNosotros p{
	font-size: 14px;
	font-weight: 100;
	color: #CCCCCC;
	margin-left: 32px;
	margin-right: 39px;
	margin-top: 15px;
}
div.boxCatalogo{
	width: 325px;
	height: 587px;
	background-color: #461C31;
	float: left;
	margin-top: 50px;
	margin-left: 12px;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
	-moz-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
	-ms-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
	-o-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
div.boxCatalogo h3{
	color: #B14E80;
	font-size: 38px;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 69px;
	text-align: center;
	font-weight: 700;
}
div.boxCatalogo h4{
	color: #B14B80;
	font-size: 21px;
	font-weight: 700;
	text-align: center;	
	margin-bottom: 42px;
}
div.boxCatalogo p{
	color: #B14E80;
	font-size: 14px;
	font-weight: 100;
	text-align: center;
	line-height: 30px;
}
span.bold{
	font-weight: 700;
}
div.boxCatalogo a{
	display: block;
	width: 110px;
	height: 30px;
	font-size: 16px;
	color: #B14E80;
	border: solid 1px #B14E80;
	border-radius: 22px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	text-decoration: none;
	padding-top: 9px;
}
div.boxCatalogo a:hover{
	background-color: #B14E80;
	color: #461C31;
}

.super {
	font-size: 12px;
	vertical-align: top;
	line-height: 28px;
}

div.boxCatalogo img {
	margin-left: auto;
	margin-right: auto;
	display:block;
}

div#mapa{
	width: 1024px;
	height: 160px;
	background-color: chocolate;
	margin-top: 20px;
	margin-bottom: 20px;
}

div#formulario {
	width: 340px; 
	height: 320px;
	float: left;
	margin-left: 70px;
}

div#video {
	width: 515px;
	height: 320px;
	background-color: pink;
	float: left;
	margin-left: 70px;
}

table {
	width: 324px;
	margin-left: auto;
	margin-right: auto;
}

.campo {
	width: 324px;
	height: 30px;
	border: solid 1px #B14E80;
	border-radius: 8px;
	margin-bottom: 10px;
	background-color: transparent;
	padding-left: 10px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 14px;
	font-weight: 100;
	color: #B14E80
}

.altura {
	height: 120px;
	padding-top: 10px;
	resize: none; /* Para quitar el cambio de tamaño del textarea*/
}

/* Safari y Chrome*/
::-webkit-input-placeholder{color: #B14E80;}
/* Mozila Firefox*/
::-moz-input-placeholder{color: #B14E80;}
/* Microsoft IE*/
::-ms-input-placeholder{color: #B14E80;}
/* Opera*/
::-o-input-placeholder{color: #B14E80;}
/* Universal*/
input-placeholder{color: #B14E80;}

.enviar {
	width: 87px;
	height: 30px;
	border: solid 1px #B14E80;
	border-radius: 8px;
	text-align: center;
	background-color: transparent;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 14px;
	font-weight: 100px;
	color: #B14E80;
	float: right;
	cursor:pointer;
	
}
.enviar:hover {
	background-color: #B14E80;
	color: #ffffff;
}

footer h2 {
	color: #FFFFFF;
	font-size: 18px;
	float: left;
	margin-left: 15px;
	margin-top: 15px;
	font-weight: 200px;
}
div#facebook {
	width: 7px;
	height: 13px;
	background-image: url(img/facebook.svg);
	float: right;
	margin-top: 20px;
	margin-right: 15px;
}

div#facebook:hover {
background-image: url(img/facebook2.svg);
}

div#twitter {
	width: 13.28px;
	height: 10.77px;
	background-image: url(img/twitter.svg);
	float: right;
	margin-top: 20px;
	margin-right: 15px;
}

div#twitter:hover {
background-image: url(img/twitter2.svg);
}

div#instagram {
	width: 13.28px;
	height: 13.28px;
	background-image: url(img/instagram.svg);
	float: right;
	margin-top: 20px;
	margin-right: 15px;
}

div#instagram:hover {
background-image: url(img/instagram2.svg);
}